#Content {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-width: 1px;
    justify-content: center;
    min-height: 100vh;
}

#ChildItems {
    margin: auto;
    display: grid;
    text-align: center;
    padding: 30px;
    gap: 30px;
    margin-left: 10px;

}